@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.1% 0.2fr 0.2fr;
    gap: 2px;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
}


.menu{
    grid-area: nav;
}

.principal{
    grid-area: main;
}

.pie{
    grid-area: footer;
    background-color: #f5f4ef;
}


.img-4{
    grid-column: span 2;
}

.grid-item h3{
    position: absolute;
    bottom: 0;

}


/*----------HEADER------------*/


.encabezado{
    grid-area: header;
    background-color: #f5f4ef;
}

.logo{
    width: 100% 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

/*---------NAVEGADOR-----------*/


.flex-menu{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
    background-color: #CC9966;
    position: sticky;
    top: 0;
}

.flex-menu a{
    text-decoration: none;
    color: #f5f4ef;
    font-size: 20px;
    font-style: normal ;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
    margin-right: 35px;
    background-color: #CC9966;
    margin: 30px;
}

.flex-menu a:hover{
    color: #70706E;
}


/*-----------MAIN INDEX------------*/



.banner{
    background: linear-gradient(rgba(0, 0, 0, 0.363), rgba(255, 255, 255, 0.61)), url(../img/inicio.jpg);
    width: 100%;
    height: calc(120vh - 228px); 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;

    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 85px;
}

.banner .boton-tienda{    
    text-decoration: none;
    color: white;
    background-color: transparent;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #f5f4ef;
}

.boton-tienda:hover {
    color: #CC9966;
    transform: scale(1.2);
    transition: 2s;
    background-color: white;
}

.banner h2:hover {
    animation: transformacion 2s ;
}


.banner h2{
    color:white;
    text-shadow: 3px 3px #CC9966;
    text-align: center;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    font-family: 'Sofia', cursive;
    padding: 15px;
}

.bienvenidos{
    height: 420px;
    width: 90%;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.4);
-webkit-box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.4);
-moz-box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.4);
overflow: hidden;
align-items: center;
}

.bienvenidos .imagen{
    width: 50%;
}

.bienvenidos .imagen img{
    width: 100%;
    vertical-align: top;
}

.presentacion-texto p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    text-align: center;
    padding: 10px;
    color: black;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
}

.boton-conocenos{
    height: 60px;
    margin-top: 17px;
    display: flex;
    justify-content: center;
}

.boton-conocenos:hover {
    transform: scale(1.2);
    transition: 2s;
}

.boton-conocenos a{
    text-decoration: none;
    text-align: center;
    color: #CC9966;
    background-color: transparent;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #CC9966;
}

.boton-conocenos:hover a{
    color: #70706E;
}


/*-----------MAIN TALLER------------*/

.taller div ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    top: 0;
}

.taller div ul li{
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
}

.video-taller{
width: 750px;
height: 400px;
margin: auto;
display: flex;
justify-content: center;
border: 3px solid #CC9966;
margin-bottom: 20px;
}

/*-----------MAIN PRODUCTOS------------*/


.productos{
    width: 100%;
    margin-top: 30px;  
    margin-left: 10px;  
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    grid-template-rows: 2fr;
    gap: 25px;
    margin-bottom: 20px;
}

.productos-destacados{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.productos-destacados div:hover {
transform: scale(1.1);
}

.productos-destacados div{
    text-align: center;
    border: 3px solid #CC9966;
    height: 345px;
    width: 220px;
    box-shadow: 5px 3px 5px 0px rgba(0,0,0,0.4);
-webkit-box-shadow: 5px 3px 5px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 5px 3px 5px 0px rgba(0,0,0,0.4);
}


.card__titulo {
    color: #CC9966;
}

.card__imagen {
    width: 200px;
    height: 200px;
    margin: 10px;
}

.card__precio {
    margin-bottom: 20px;
    color: black;
    font-size: 25px;
    font-style: normal ;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif; 
}

.productos-destacados div a{
    text-decoration: none;
    font-size: 18px;
    font-style: normal ;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif; 
    background-color: #CC9966;
    color: white;
    padding: 2px;
}

.grid-item{
    position: relative;
}

.productos-destacados div a:hover{
    color: #70706E;
}

.productos div:hover { 
transform: scale(1.1);
}

.productos div{
    display: grid;
    text-align: center;
    border: 1px solid #CC9966;
    height: 345px;
    width: 220px;
    box-shadow: 5px 3px 5px 0px rgba(0,0,0,0.4);
-webkit-box-shadow: 5px 3px 5px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 5px 3px 5px 0px rgba(0,0,0,0.4);
} 

.productos div a{
    text-decoration: none;
    font-size: 18px;
    font-style: normal ;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif; 
    background-color: #CC9966;
    color: white;
    padding: 10px;
}

.productos div a:hover{
    color: #70706E;
}

/*-----------MAIN CONTACTO------------*/

.contacto h3{
    margin-top: 30px;
    font-size: 25px;
}

.contacto div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto p {
    text-align: left;
    color: black;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
}


.boton-whatsapp{
    position: fixed;
    right: 3%;
    bottom: 5%;
}


*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

:focus{
  outline: none;
}

body{
  background: #DBDBDB;
  font-family: 'Quicksand';
}

.consulta-whatsapp img{
    width: 200px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    margin-top: -10px;
}

/* FORMULARIO =================================== */

.form_wrap{
  width: 1050px;
  height: 530px;
  margin: 50px auto;
  margin-top: 70px;
  display: flex;

  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Informacion de Contacto*/

.cantact_info::before{
  content: '';
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  background: #CC9966;
  opacity: 0.9;
}

.cantact_info{
  width: 38%;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url('../fondo.jpg');
  background-size: cover;
  background-position: center center;

}

.info_title,
.info_items{
  position: relative;
  z-index: 2;
  color: #fff;
}

.info_title{
  margin-bottom: 60px;
}

.info_title span{
  font-size: 100px;
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

.info_title h2{
  font-size: 35px;
  text-align: center;
}

.info_items p{
  display: flex;
  align-items: center;

  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.info_items p:nth-child(1) span{
  font-size: 30px;
  margin-right: 10px;
}

.info_items p:nth-child(2) span{
  font-size: 50px;
  margin-right: 15px;
  margin-left: 4px;
}


/* Formulario de contacto*/
form.form_contact{
  width: 62%;
  padding: 30px 40px;
}

form.form_contact h2{
  font-size: 25px;
  font-weight: 600;
  color: #303030;
  margin-bottom: 30px;
}

form.form_contact .user_info{
  display: flex;
  flex-direction: column;
}

form.form_contact label{
  font-weight: 600;
}

form.form_contact input,
form.form_contact textarea{
  width: 100%;
  padding: 8px 0px 5px;
  margin-bottom: 20px;

  border: none;
  border-bottom: 2px solid #D1D1D1;

  font-family: 'Quicksand';
  color: #5A5A5A;
  font-size: 14px;
  font-weight: 400;
}

form.form_contact textarea{
  max-width: 100%;
  min-width: 100%;
  max-height: 90px;
}

form.form_contact input[type="button"]{
  width: 180px;
  background: #CC9966;
  padding: 10px;
  border: none;
  border-radius: 25px;

  align-self: flex-end;

  color: #fff;
  font-family: 'Quicksand';
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

form.form_contact input[type="button"]:hover{
  background: #70706E ;
}

/* Ventana de errores*/
.modal_wrap{
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.7);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mensaje_modal{
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
  width: 400px;
  padding: 30px 20px 15px;
}

.mensaje_modal h3{
  text-align: center;
  font-family: 'Quicksand';
  font-size: 20px;
  font-weight: 400;
}

.mensaje_modal h3:after{
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #C5C5C5;
  margin: 10px 0px 15px;
}

.mensaje_modal p{
  font-size: 16px;
  color: #606060;
}

.mensaje_modal p:before{
  content: "\f00d";
  font-family: 'Quicksand';
  display: inline-block;
  color: #E25151;
  margin-right: 8px;
}

#btnClose{
  display: inline-block;
  padding: 3px 10px;
  margin-top: 10px;

  background: #E25151;
  color: #fff;
  border: 2px solid #B14141;
  cursor: pointer;
}

/*-----------MAIN NOSOTROS------------*/

.nosotros div ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    top: 0;
}

.nosotros div ul li{
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
}

.nosotros div img {
    height: 200px;
    width: 200px;
    margin: auto;
    padding: 10px;
}

.nosotros div {
    width: 100% 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nosotros .foto-nosotros{
    width: 300px;
    height: 300px;    
    border: 3px solid #CC9966 ;
    margin: auto;
    padding: 5px;
    margin-bottom: 20px;
}

/**--------------------------------------------------**/


section div p{
    color: black;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

section ul li{
    color: #70706E;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    margin: 10px;
    margin-left: 300px;
}

section p{
    color: black;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
}

h1{
    color: #70706E;
    font-size: 50px;
    font-style: normal ;
    font-weight: 600;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    padding: 10px;
}

h3{
    color: black;
    font-size: 20px;
    font-style: normal ;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
}


span {
    font-style: italic;
    font-weight: 400;
    color:  #CC9966;
}


main{
    background-color: white;
}

main section div h4{
    color: black;
    font-size: 18px;
    font-style: normal ;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif; 
}


/*----------FOOTER-----------*/


footer nav ul{
    list-style: none;
}

footer nav ul li{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-style: normal ;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
}

footer nav ul li a{
    text-decoration: none;
}

footer nav ul li a:hover{
    color: #CC9966;
}

footer div img:hover{
    transform: scale(1.1);
    transition: 2s;
}

footer div p{
    color: black;
    font-size: 15px;
    font-style: normal ;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif; 
}

footer h4{
    color: black;
    text-align: center;
    font-size: 15px;
    font-style: normal ;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif; 
}


footer{
    background-color: #f5f4ef;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    background-color: #f5f4ef;
}